.board-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;
}

.username-input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 400px;
    background-color: var(--cream);
    box-shadow: rgba(0, 0, 0, 0.9) 0px 7px 29px 0px;
    border-radius: 8px;
    position: relative;
    top: 120px;
}

.username-input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 8px 16px 8px 16px;
    border: none;
    outline: none;
    font-size: 16px;
    text-align: center;
    border: 2px solid var(--brown);
    box-shadow: #00000039 0px 8px 24px;
}

.username-input::placeholder{
    opacity: 0.6;
}

.add-username-btn{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    background-color: var(--green);
    text-transform: uppercase;
    margin-top: 30px;
    transition: box-shadow 100ms;
    font-weight: 700;
    box-shadow: #00000039 0px 8px 24px;
    cursor: pointer;
}

.add-username-btn:disabled{
    box-shadow: none;
    cursor: auto;
}
