:root{
  --red: #FF2525;
  --yellow: #FFE53B;
  --green: #009E44;
  --blue: #0087FF;
  --purple: #A461EF;
  --cream: #FFF4EF;
  --brown: #281714;
  --cyan: #55BAC0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
